body, html{
	width: 100%;
  	height: 100%;
  	font-family: 'Chicle', cursive;
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	width: 100%
}

h1 {
	font-size: 8vmax;
}

.welcome {	
	color: yellow;
	height: 100%;
	padding: 0px auto;
	margin-right: 0px;
	background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.01));
}

.welcome:hover {
	transition: all 2s ease-in-out;
	background-image: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.5), rgba(0,0,0,0.01));
	color: #a9815e;
}

.arrow {
	margin-top: 18vh;
	border: solid black;
	border-width: 0px 10px 15px 0px;
	display: inline-block;
	animation: glow 2s infinite;
}

img {
	height: 100%;
	opacity: 0;
}

.arrow-1 {
	opacity: 1;
}
.arrow-2 {
	opacity: 0.75;
}
.arrow-3 {
	opacity: 0.5;
}
.arrow-4 {
	opacity: 0.0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@keyframes glow {
	0% {
		border: solid black;
		border-width: 0px 16px 16px 0px;
		width: 5vw;
		height: 5vw;
		display: inline-block;
		opacity: 0.5;
	}
	50% {
		border: solid yellow;
		border-width: 0px 12px 12px 0px;
		width: 6vw;
		height: 6vw;
		display: inline-block;
		opacity: 0.75;
	}
	75% {
		border: solid yellow;
		box-shadow: 14px 14px 12px white;
		border-width: 0px 7px 7px 0px;
		width: 5vw;
		height: 5vw;
		display: inline-block;
		opacity: 1;
	}
	100% {
		border: solid yellow;
		box-shadow: 14px 14px 12px white;
		border-width: 0px 8px 8px 0px;
		width: 5vw;
		height: 5vw;
		display: inline-block;
		opacity: 0.75;
	}

}