body, html{
	width: 100%;
  	height: 100%;
  	font-family: 'Chicle', cursive;
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	width: 100%
}

h1 {
	font-size: 8vmax;
}

.welcome {	
	color: yellow;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	padding: 0px auto;
	margin-right: 0px;
}

.welcome:hover {
	transition: all 2s ease-in-out;
	background-color: rgba(0,0,0,0.7);
	color: white;
}

.arrow {
	margin-top: 18vh;
	border: solid black;
	border-width: 0px 10px 15px 0px;
	padding: 30px;
	display: inline-block;
	animation: glow 1s infinite;
}

.arrow-1 {
	animation-delay: 1s;
	opacity: 1;
}
.arrow-2 {
	animation-delay: 1s
	opacity: 0.75;
}
.arrow-3 {
	animation-delay: 1s
	opacity: 0.5;
}
.arrow-4 {
	animation-delay: 1s
	opacity: 0.0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@keyframes glow {
	0% {
		border: solid black;
		border-width: 0px 10px 15px 0px;
	padding: 1rem;
	display: inline-block;
	opacity: 0.5;
	}
	50% {
		border: solid yellow;
		border-width: 0px 10px 15px 0px;
		padding: 1.5rem;
		display: inline-block;
		opacity: 0.75;
	}
	100% {
		border: solid yellow;
		box-shadow: 14px 14px 12px white;
		border-width: 0px 10px 15px 0px;
	padding: 2rem;
	display: inline-block;
		opacity: 1;
	}

}